body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible
{
    display: flex;
    margin-bottom: 100px;
}
.half_width
{
    width: 50%;
    margin: 80px 50px 10px 100px;
    text-align: justify;
}
.half_width img
{
    width: 80%;
    margin-left: 50px;
}

#mission
{
    font-size: 2em;
    border-left: 5px solid rgb(212, 23, 23);
    padding-left: 10px;
}

#color
{
    color: orange;
}
.link
{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    color: white;
    margin-bottom: 40px;
   
    
}
#mission2022
{
    text-align: center; 
    font-size: 40px;
     font-weight:bolder;
     margin-bottom:0px;
     margin-top: 0px;
}
.one_third_width
{
    width: 33%;
    margin: 80px;
    text-align: justify;
    margin-top: 50px;

}

.one_third_width img
{
    width:50%;
}
#first
{
    background-color: rgb(138, 85, 138);
    padding:30px 20px 30px 20px;
    border-radius: 10px;
    margin-right:2px;
}
#second
{
    background-color: powderblue;
    padding:30px 20px 30px 20px;
    border-radius: 10px;
    margin-right:2px;
    margin-left: 20px;

}
#third
{
    background-color: violet;
    padding:30px 20px 30px 20px;
    border-radius: 10px;
    margin-left: 20px;
}